.image-list {
  display: grid;
  /*minmax column width min 250px and max 1fr = for every column make it of equal size*/
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); 
  grid-gap: 0 10px;
  /*Every grid element is set to 150px height*/
  grid-auto-rows: 10px;
  
}

.image-list img {
  width: 250px;
  grid-row-end: span 2;
}